
<clr-wizard  [(clrWizardOpen)]="xlOpen" clrWizardSize="xl" [clrWizardClosable]="false">
    <clr-wizard-title> <h3> NEW CONTAINER <img src="../../../assets/images/Illustration5.png" height="60" width="50"></h3> </clr-wizard-title>

    <clr-wizard-button [type]="'cancel'" (click)="submitType = 'START'; getNextPage() "> Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'" (click)="submitType = 'CONTINUE'; getNextPage() ">Continue <i class="fas fa-arrow-circle-right"></i></clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="!nameForm.valid">
        <ng-template clrPageTitle>General</ng-template>
        <form #nameForm="ngForm" clrForm clrLayout="horizontal" class="clr-form-compact" clrLabelSize="10" >
            <clr-input-container>
                <label>How should this container be called?</label>
                <input clrInput type="text"  placeholder="Name" [(ngModel)]="container.name" name="containerName" required pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?" #name="ngModel" [ngClass]="{'is-invalid': nameForm.submitted && name.invalid}" (ngModelChange)="adaptServiceName()" />
                <clr-control-helper> This field is required and must follow the pattern "[a-z0-9]([-a-z0-9]*[a-z0-9])?"</clr-control-helper>
            </clr-input-container>
            <clr-input-container>
                <label>Which image do you want to deploy?</label>
                <input clrInput type="text" placeholder="Image" [(ngModel)]="container.image" name="containerImage" required #image="ngModel" [ngClass]="{'is-invalid': nameForm.submitted && image.invalid}" [ngbTypeahead]="search" />
                <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
            </clr-input-container>
            

       

            <clr-radio-container clrInline>
                <label>Does the application need root rights?</label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio  id="rootYes" name="rootRights" [value]="true" [(ngModel)]="container.containerAdvancedOptions.privileged" required #rootRights="ngModel" [ngClass]="{'is-invalid': nameForm.submitted && rootRights.invalid}">
                    <label for="rootYes">Yes</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio id="rootNo" name="rootRights" [value]="false" [(ngModel)]="container.containerAdvancedOptions.privileged" required #rootRights="ngModel" [ngClass]="{'is-invalid': nameForm.submitted && rootRights.invalid}">
                    <label for="rootNo">No</label>
                </clr-radio-wrapper>
           
            </clr-radio-container>

                
        </form>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="!storageForm.valid">
        <ng-template clrPageTitle>Storage</ng-template>
        <ngx-spinner bdColor="rgba(51,51,51,0.5)" size="medium" color="#FFF" type="ball-spin-clockwise-fade">
            <p style="font-size: 20px; color: white">Analyzing Image...</p>
        </ngx-spinner>
        <form #storageForm="ngForm" clrForm>
        <clr-radio-container clrInline>
            <label>Does your container store all it's important data in a database or does not require to store any data?</label>
            <clr-radio-wrapper>
                <input type="radio" clrRadio id="databaseStoreYes" name="databaseStore" [value]="true" [(ngModel)]="container.wizardOptions.databaseStore" (ngModelChange)="resetStorage()" required #databaseStore="ngModel" [ngClass]="{'is-invalid': storageForm.submitted && databaseStore.invalid}">
                <label  for="databaseStoreYes">Yes</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
                <input type="radio" clrRadio id="databaseStoreNo" name="databaseStore" [value]="false" [(ngModel)]="container.wizardOptions.databaseStore" (ngModelChange)="resetStorage()" required #databaseStore="ngModel" [ngClass]="{'is-invalid': storageForm.submitted && databaseStore.invalid}">
                <label for="databaseStoreNo">No</label>
            </clr-radio-wrapper>
            <clr-control-helper>The twelve factor methodology advises that applications should be stateless and Shared nothing. <br>So every application should store it's data in a database and not on the VM/Container itself.
                <br> But some container
                may still require storage (e.g. data nodes of elasticsearch).
            </clr-control-helper>
        </clr-radio-container>

        <br>
            <div *ngIf="container.wizardOptions.databaseStore" [@enterAnimation]>
                <clr-alert [clrAlertClosable]="false">
                    <clr-alert-item>
                        
                        In case you clicked yes, because your container stores all it's important data in a database, it is possible to create predefined databases (MYSQL, MARIADB, redis, postgres, mongodb, couchdb) with this wizard
                        in a later step. With stateless applications it should be easy to scale the container (or in other words to get more instances of the container and your application). It is best practice to increase
                        the number of instances to guarantee a higher availability of your service.
                    
                    </clr-alert-item>
                </clr-alert>


                <clr-input-container>
                    <label>Here you can define how much instances you want of your desired container:</label>
                    <input type="number" clrInput placeholder="Replicas" min="1" customMin="1" [(ngModel)]="container.replicas" name="containerReplicas" required #replicas="ngModel" [ngClass]="{'is-invalid': storageForm.submitted && replicas.invalid}">
                    
                    <clr-control-helper>   This field is required and must be a positive number : Replicas</clr-control-helper>
                </clr-input-container>

            </div>

            <div *ngIf="container.wizardOptions.databaseStore === false" [@enterAnimation]>
                <clr-alert [clrAlertClosable]="false">
                    <clr-alert-item>
                        
                        Your container does not store all it's important data in a database. If your container still needs to store any data, which has to be persistent
                        (e.g. if you want to create a database yourself), add persistent
                        storage below. For simplicity reasons there will be one persistent storage (or in Kubernetes one PVC) per mount point.
                    
                    </clr-alert-item>
                </clr-alert>


                <clr-input-container>
                    <label>Here you can define how much instances you want of your desired container:</label>
                    <input type="number" clrInput placeholder="Replicas" min="1" customMin="1" [(ngModel)]="container.replicas" name="containerReplicas" required #replicas="ngModel" [ngClass]="{'is-invalid': storageForm.submitted && replicas.invalid}">
                    
                    <clr-control-helper>   This field is required and must be a positive number : Replicas</clr-control-helper>
                </clr-input-container>
                <br>
                <button type="button" class="btn btn-primary-outline" [disabled]="!container.analysis?.mountPaths?.length" (click)="appendMountPathsFromImage()">Get Mount Points from Image</button>
                <button type="button" class="btn btn-primary-outline" (click)="container.addStorage()">Add Storage</button>
                
                
                <clr-control-helper> 
                    Click on Add Storage and set the absolute mount path and a desired size for every storage you create
                </clr-control-helper>

                <div  *ngFor="let storage of container.storage" [@fastEnterAnimation]>
                   

                    <clr-input-container>
                        <label>Path : </label>
                        <input type="text" clrInput  placeholder="Absolute Mount Path" [(ngModel)]="storage.storageMounts[0].mountPath" name="{{storage.uniqueName}}-path" required pattern="\/([a-z]|[A-Z]|[0-9]|\/)+" #path="ngModel" [ngClass]="{'is-invalid': storageForm.submitted && path.invalid}">
                        <clr-control-helper> This field is required and must be absolute</clr-control-helper>
                    </clr-input-container>
                        
                    <clr-input-container>
                        <label>Size : </label>
                        <input type="number" clrInput class="form-control" placeholder="Size in Mb" min="1" customMin="1" [(ngModel)]="storage.size" name="{{storage.uniqueName}}-size" required #size="ngModel" [ngClass]="{'is-invalid': storageForm.submitted && size.invalid}">
                        <clr-control-helper> This field is required and must be a positive number</clr-control-helper>
                    </clr-input-container>
                    <br> 
                    <button type="button" class="btn btn-danger-outline" (click)="container.deleteStorage(storage)">Remove Storage  &nbsp;<i class="fas fa-trash-alt" title="Delete"></i></button>
                    <br>

                    <clr-control-helper> It may be possible that your container is not scaleable anymore. If you still need more instances of your container than one and you know what you are doing it is possible to scale the container.</clr-control-helper>

                   

                    <clr-radio-container clrInline>
                        <label>Do you want to scale your container despite being a stateful application?</label>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio id="authorizeScaleYes" name="authorizeScale" [value]="true" [(ngModel)]="container.wizardOptions.authorizeScale" (ngModelChange)="container.replicas=1" required #authorizeScale="ngModel" [ngClass]="{'is-invalid': storageForm.submitted && authorizeScale.invalid}">
                            <label class="custom-control-label" for="authorizeScaleYes">Yes</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio id="authorizeScaleNo" name="authorizeScale" [value]="false" [(ngModel)]="container.wizardOptions.authorizeScale" (ngModelChange)="container.replicas=1" required #authorizeScale="ngModel" [ngClass]="{'is-invalid': storageForm.submitted && authorizeScale.invalid}">
                            <label class="custom-control-label" for="authorizeScaleNo">No</label>
                        </clr-radio-wrapper>
                       
                    </clr-radio-container>

                    <clr-input-container  *ngIf="container.wizardOptions.authorizeScale" [@enterAnimation]>
                        <label>Amount of desired instances : </label>
                        <input type="number" clrInput  placeholder="Replicas" min="1" customMin="1" [(ngModel)]="container.replicas" name="containerReplicas" required #replicas="ngModel" [ngClass]="{'is-invalid': storageForm.submitted && replicas.invalid}">
    
                        <clr-control-helper> This field is required and must be a positive number</clr-control-helper>
                    </clr-input-container>
                    <br>
                   
                </div>
                <br><br>
           

            </div>
        </form>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="!envForm.valid">
        <ng-template clrPageTitle>Environements</ng-template>
        <form #envForm="ngForm" clrLayout="horizontal" >

            <clr-alert >
                <clr-alert-item>
                    <span class="alert-text">
                        Environment Information : <br>
                        The twelve factor methodology advises programmers to use environment variables to configure their applications. With container images this should alway be considered and most of the images can be configured
                        using environment variables.
                    </span>
                </clr-alert-item>
            </clr-alert>
            <clr-alert [clrAlertType]="'warning'"  *ngIf="container.wizardOptions.envConfigurable" [@enterAnimation]>
                <clr-alert-item>
                    <span class="alert-text">
                        Sadly it is not possible to fetch all environment variables from the container image, but the ones declared in the Dockerfile. Please consult the container documentation of the image to get all useable environment
                        variables. "Normal" environment variables will get saved in a ConfigMap and "Secret" environment variables will get saved in a Kubernetes Secret. Password variables should be marked as "Secret". If you
                        need to define environment variables, which represent a connection to another container of this workload, omit the environment variable here. These variables can be set in a later step. If you want to
                        create a database with this wizard and use the database for your application also omit the database connection link (But you can already define environment variables for credentials and can set them
                        when creating the database later)
                    </span>
                </clr-alert-item>
            </clr-alert>

            <clr-alert *ngIf="container.wizardOptions.envConfigurable === false" [@enterAnimation]>

                <clr-alert-item>
                    <span class="alert-text">
                        Because this generator does not support custom ConfigMaps, it may
                        not be
                        possible to
                        deploy your
                        workload/container with this wizard!
                       
                    </span>
                </clr-alert-item>
            </clr-alert>

         
            <clr-radio-container clrInline>
                <label>Does your container support to be configured via environment variables?</label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio id="envConfigurableYes" name="envConfigurable" [value]="true" [(ngModel)]="container.wizardOptions.envConfigurable" (ngModelChange)="resetEnvironmentVariables()" required #envConfigurable="ngModel" [ngClass]="{'is-invalid': envForm.submitted && envConfigurable.invalid}">
                    <label class="custom-control-label" for="envConfigurableYes">Yes</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio id="envConfigurableNo" name="envConfigurable" [value]="false" [(ngModel)]="container.wizardOptions.envConfigurable" (ngModelChange)="resetEnvironmentVariables()" #envConfigurable="ngModel" [ngClass]="{'is-invalid': envForm.submitted && envConfigurable.invalid}">
                        <label class="custom-control-label" for="envConfigurableNo">No</label>
                </clr-radio-wrapper>

                <clr-control-helper>
                    <span *ngIf="container.analysis?.environments?.length"> Your container seems to declare {{container.analysis.environments.length}} environment variables.</span>
                    <span *ngIf="container.analysis && !container.analysis?.environments?.length"> Your container seems to declare no environment variables</span>
                
                </clr-control-helper>

               
               
            </clr-radio-container>
            <button type="button" class="btn btn-primary-outline" [disabled]="!container.analysis?.environments?.length" (click)="appendVariablesFromImage()">Get Variables from Image</button>
            <button type="button" class="btn btn-primary-outline" (click)="container.addEnvironmentVariable()">Add Environment Variable</button>

            <div *ngFor="let variable of container.environments" [@fastEnterAnimation]>



                <clr-input-container>
                    <label>Name : </label>
                    <input type="text" clrInput placeholder="Name" [(ngModel)]="variable.name" name="{{variable.uniqueName}}-name" required #vname="ngModel" [ngClass]="{'is-invalid': envForm.submitted && vname.invalid}">
                </clr-input-container>
                <clr-input-container>
                    <label>Value : </label>
                    <input type="text" clrInput placeholder="Value" [(ngModel)]="variable.value" name="{{variable.uniqueName}}-value" #value="ngModel">
                </clr-input-container>

                <clr-checkbox-container>
                    <clr-checkbox-wrapper>
                      <input type="checkbox" clrCheckbox  id="{{variable.uniqueName}}-secret" [(ngModel)]="variable.secret" name="{{variable.uniqueName}}-secret">
                      <label class="custom-control-label" for="{{variable.uniqueName}}-secret">Secret</label>
                    </clr-checkbox-wrapper>
                </clr-checkbox-container>
                <br>

                <button type="button" class="btn btn-danger-outline" (click)="container.deleteEnvironmentVariable(variable)">
                    Remove Variable &nbsp;<i class="fas fa-trash-alt"
                    title="Delete"></i>
                </button>
              
            </div>
            
           

        </form>
    </clr-wizard-page>
    <clr-wizard-page [clrWizardPageNextDisabled]="!initForm.valid">
        <ng-template clrPageTitle>Init</ng-template>
        <form #initForm="ngForm" clrForm>

            <clr-alert >
                <clr-alert-item>
                    <span class="alert-text">
                        In Kubernetes it is also possible to use Init Containers in order to pull necessary resources for the actual container or to configure pod settings (e.g. vm.max_map_count from Elasticsearch)
                    </span>
                </clr-alert-item>
            </clr-alert>

            <clr-radio-container clrInline>
                <label>Do you want to setup your container with init containers?</label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio id="initConfigurableYes" name="initConfigurable" [value]="true" [(ngModel)]="container.wizardOptions.initConfigurable" (ngModelChange)="resetInitContainers()" required #initConfigurable="ngModel" [ngClass]="{'is-invalid': initForm.submitted && initConfigurable.invalid}">
                    <label class="custom-control-label" for="initConfigurableYes">Yes</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio id="initConfigurableNo" name="initConfigurable" [value]="false" [(ngModel)]="container.wizardOptions.initConfigurable" (ngModelChange)="resetInitContainers()" required #initConfigurable="ngModel" [ngClass]="{'is-invalid': initForm.submitted && initConfigurable.invalid}">
                    <label class="custom-control-label" for="initConfigurableNo">No</label>
                </clr-radio-wrapper>
            </clr-radio-container>
            <br>

            <div *ngIf="container.wizardOptions.initConfigurable" [@enterAnimation]>
                <clr-alert >
                    <clr-alert-item>
                        <span class="alert-text">
                            The wizard uses the ubuntu bionic image as base image for init containers. If you need additional software to configure your app, you have to install these applications first (use sh -c apt-get update; apt-get
                                                    install -y ...; to install additional software). In case that you want to prepopulate a directory with content (e.g. html files for nginx) you also have to mount a directory in the init container. Therefore
                                                    just enter the absolute mount path in the path field below. Some commands may require higher privileges. In this case check the "Privileged" Checkbox
                        </span>
                    </clr-alert-item>
                </clr-alert>
                <br>
                <button type="button" class="btn btn-primary" (click)="container.containerAdvancedOptions.addInitContainer()">Add Init Container</button>

                <div *ngFor="let initContainer of container.containerAdvancedOptions.initContainers" [@fastEnterAnimation]>
                    <clr-input-container>
                        <label>Commands : </label>
                        <input type="text" clrInput placeholder="Commands (Start with sh -c for example)" [(ngModel)]="initContainer.command" name="{{initContainer.uniqueName}}-command" required #icommand="ngModel" [ngClass]="{'is-invalid': initForm.submitted && icommand.invalid}">
                        <clr-control-helper>Helper text</clr-control-helper>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container>

                    <clr-input-container>
                        <label>Path : </label>
                        <input type="text" clrInput placeholder="Absolute Mount Path" [(ngModel)]="initContainer.mountPath" name="{{initContainer.uniqueName}}-path" pattern="\/([a-z]|[A-Z]|[0-9]|\/)+" #ipath="ngModel" [ngClass]="{'is-invalid': initForm.submitted && ipath.invalid}">
                        <clr-control-helper>This field is must follow the pattern "\/([a-z]|[A-Z]|[0-9]|\/)+"</clr-control-helper>
                    </clr-input-container>

                    <clr-checkbox-container>
                        <clr-checkbox-wrapper>
                            <input type="checkbox" clrCheckbox  id="{{initContainer.uniqueName}}-Privilege" [(ngModel)]="initContainer.privileged" name="{{initContainer.uniqueName}}-Privilege">
                            <label class="custom-control-label" for="{{initContainer.uniqueName}}-Privilege">Privileged</label>
                            
                        </clr-checkbox-wrapper>
                    
                    </clr-checkbox-container>
                    <br>
                    <button type="button" class="btn btn-danger-outline" (click)="container.containerAdvancedOptions.deleteInitContainer(initContainer)">
                        Remove Init Container &nbsp;<i class="fas fa-trash-alt" title="Delete"></i>
                    </button>
                    
                </div>
                
                <!-- <clr-control-helper>
                    Set a command for every init container you create.</b> Start with "sh -c" for example
                </clr-control-helper> -->
            </div>
            <br class="card-footer">


        </form>

    </clr-wizard-page>
    <clr-wizard-page [clrWizardPageNextDisabled]="!portForm.valid">
        <ng-template clrPageTitle>Ports</ng-template>
        <form  #portForm="ngForm" clrForm>
            <clr-alert>
                <clr-alert-item>
                    <span class="alert-text">
                        Port Information : <br>
                        In order to communicate with your application or in order to let your container communicate with each other it is necessary to export ports of your application.
                         Sadly as for environments it is not possible to extract ports from the container image. By default all ports will only be accessible within the Kubernetes Cluster.
                          If you want to access the applications on this ports from outside the Kubernetes Cluster, it is necessary to expose the ports with a NodePort or LoadBalancer service (There are also other Kubernetes Services available,
                           but for simplicity reasons only NodePort and LoadBalancer services are possible to use here. If you chose a LoadBalancer it is only possible to export ports with the same Protocol!).
                    </span>
                </clr-alert-item>
            </clr-alert>
            <p class="p3"><b>Define all necessary ports below and mark the ports which should externally
                accessible with the
                "Export" Checkbox.</b><span *ngIf="container.analysis?.ports?.length"> Your container seems to expose {{container.analysis.ports.length}} ports.</span>
                <span *ngIf="container.analysis && !container.analysis?.ports?.length"> Your container seems to expose no ports.</span>
            </p>
            <button type="button" class="btn btn-primary" [disabled]="!container.analysis?.ports?.length" (click)="appendPortsFromImage()">Get Ports from Image</button>
            <button type="button" class="btn btn-primary" (click)="container.addPort()">Add Port</button>
    
            <div class="form-row mb-2" *ngFor="let port of container.ports" [@fastEnterAnimation]>
                
                <form clrForm clrLayout="horizontal">
                <clr-input-container>
                    <label>Port :</label>
                    <input type="number" clrInput placeholder="Port (1-65535)" min="1" customMin="1" max="65535" customMax="65535" [(ngModel)]="port.port" name="{{port.uniqueName}}-port" required #pport="ngModel" [ngClass]="{'is-invalid': portForm.submitted && pport.invalid}" (ngModelChange)="changePortInService(port)">
                    <clr-control-helper> This field is required and the value must be between 1 and 65535 </clr-control-helper>
                </clr-input-container>
             
                <clr-select-container>
               
                    <label>Protocol : </label>
                    <select clrSelect [(ngModel)]="port.protocol" name="{{port.uniqueName}}-protocol" (ngModelChange)="changePortInService()">
                        <option>TCP</option>
                        <option>UDP</option>
                    </select>
                    
                  </clr-select-container>
    
                  <clr-checkbox-container>
                    <clr-checkbox-wrapper>
                        <input type="checkbox" clrCheckbox id="{{port.uniqueName}}-export" name="{{port.uniqueName}}-export" [checked]="isPortExported(port)" (change)="changePortService(port,$event)">
                        <label class="custom-control-label" for="{{port.uniqueName}}-export">Export</label>
                    </clr-checkbox-wrapper>
                
                </clr-checkbox-container>
               
                <button type="button" class="btn btn-danger-outline" (click)="deletePort(port)">
                    Remove Port &nbsp; <i class="fas fa-trash-alt" title="Delete"></i>
                </button>
            </form>
                <br>
                <div *ngIf="service" [@enterAnimation]>
                    <div >
                        <b>Expose all marked ports with the following Service:</b>
                    </div>
                    <clr-select-container >
                       
                            <label >
                                ServiceType : 
                            </label>
                            <select name="exportType" clrSelect  [(ngModel)]="service.type">
                            <option>NodePort</option>
                            <option>LoadBalancer</option>
                            </select>
                            <clr-control-helper> 
                                This field is required
                            </clr-control-helper> 
                       
                    </clr-select-container>
                </div>
             
               
            </div>
           
        </form>
    </clr-wizard-page>
    <clr-wizard-page [clrWizardPageNextDisabled]="!probeForm.valid">
        <ng-template clrPageTitle>Probe</ng-template>
        <form #probeForm="ngForm" (ngSubmit)="probeForm.valid && getNextPage()">
            <clr-alert>
                <clr-alert-item>
                    <span class="alert-text">
                        Health Check Information : <br>
                        he twelve factory methodology advises programmers to use package mangers to manage and build theire applications.
                        While this is not important for the Kubernetes Deployment, because the containers got all theire dependencies baked in the image, you can look at service dependencies instead of normal dependencies.
                        Kubernetes supports checking for your applications health and depending if it's healthy or not, Kubernetes will stop sending traffic to the container and may restart the container.
                    </span>
                </clr-alert-item>
            </clr-alert>

            <clr-radio-container clrInline>
                <label>Do you want that Kubernetes checks the state of your application?</label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio id="probeConfigurableYes" name="probeConfigurable" [value]="true" [(ngModel)]="container.wizardOptions.probeConfigurable" (ngModelChange)="resetProbe()" required #probeConfigurable="ngModel" [ngClass]="{'is-invalid': probeForm.submitted && probeConfigurable.invalid}">
                        <label class="custom-control-label" for="probeConfigurableYes">Yes</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio id="probeConfigurableNo" name="probeConfigurable" [value]="false" [(ngModel)]="container.wizardOptions.probeConfigurable" (ngModelChange)="resetProbe()" required #probeConfigurable="ngModel" [ngClass]="{'is-invalid': probeForm.submitted && probeConfigurable.invalid}">
                    <label class="custom-control-label" for="probeConfigurableNo">No</label>
                </clr-radio-wrapper>
                <clr-control-error>This field is required!</clr-control-error>
              </clr-radio-container>
              <div *ngIf="container.wizardOptions.probeConfigurable" [@enterAnimation]>
                <clr-alert>
                    <clr-alert-item>
                        <span class="alert-text">
                            Health Check Possibilities Information : <br>
                         
                            Currently the wizard supports health checks in form of a simple TCP connection to a applications port or it supports a health check in form of a HTTP request to an application if it supports HTTP connectivity.
                        </span>
                    </clr-alert-item>
                </clr-alert>

                <clr-radio-container clrInline>
                    <label>Is it possible to communicate with your application over HTTP?</label>
                    <clr-radio-wrapper>
                        <input type="radio" clrRadio id="httpConfigurableYes" name="httpConfigurable" [value]="true" [(ngModel)]="container.wizardOptions.httpConfigurable" (ngModelChange)="resetHttp()" required #httpConfigurable="ngModel" [ngClass]="{'is-invalid': probeForm.submitted && httpConfigurable.invalid}">
                            <label class="custom-control-label" for="httpConfigurableYes">Yes</label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper>
                        <input type="radio" clrRadio id="httpConfigurableNo" name="httpConfigurable" [value]="false" [(ngModel)]="container.wizardOptions.httpConfigurable" (ngModelChange)="resetHttp()" required #httpConfigurable="ngModel" [ngClass]="{'is-invalid': probeForm.submitted && httpConfigurable.invalid}">
                        <label class="custom-control-label" for="httpConfigurableNo">No</label>
                    </clr-radio-wrapper>
                    <clr-control-error>This field is required!</clr-control-error>
                </clr-radio-container>
            
            <div *ngIf="container.wizardOptions.httpConfigurable" [@enterAnimation]>
                <clr-input-container>
                    <label>HTTP Path : </label>
                    <input type="text" clrInput placeholder="Http Path (no subpath with /)" [(ngModel)]="container.containerAdvancedOptions.readinessProbe.httpAction" name="httpPath" required #httpPath="ngModel" [ngClass]="{'is-invalid': probeForm.submitted && httpPath.invalid}">
                    <clr-control-helper>Helper text</clr-control-helper>
                    <clr-control-error>This field is required!</clr-control-error>
                </clr-input-container>

                <clr-select-container>
                    <label>HTTP Port : </label>
                    <select clrSelect name="httpPort" [(ngModel)]="container.containerAdvancedOptions.readinessProbe.httpPort" required #httpPort="ngModel" [ngClass]="{'is-invalid': probeForm.submitted && httpPort.invalid}">
                        <option *ngFor="let port of container.ports" [ngValue]="port.port">{{port.port}}</option>
                    </select>
                    <clr-control-error>This field is required!</clr-control-error>   
                    <clr-control-helper class="m-0 text-justify"><b>Please fill in the HTTP request path (for no subpath just insert a
                        "/")
                        and
                        the port
                        which serves HTTP requests below.</b></clr-control-helper>
                </clr-select-container>
                
            </div>
            <div *ngIf="container.wizardOptions.httpConfigurable === false" [@enterAnimation]>
                <clr-select-container>
                    <label>TCP Port : </label>
                    <select clrSelect [(ngModel)]="container.containerAdvancedOptions.readinessProbe.tcpPort" name="tcpPort" required #tcpPort="ngModel" [ngClass]="{'is-invalid': probeForm.submitted && tcpPort.invalid}">
                        <option *ngFor="let port of container.ports" [ngValue]="port.port">{{port.port}}</option>
                        </select>
                    <clr-control-error>This field is required!</clr-control-error>   
                    <clr-control-helper >Please choose the port on which Kubernetes should check the health of the application</clr-control-helper>
                </clr-select-container>
            </div>

            <clr-alert>
                <clr-alert-item>
                    <span class="alert-text">
                        Startup Information : <br>
                        The wizard will deploy the application health check with fairly conservative parameters.
                         To guarantee a fast start of the container and to receive traffic as early as possible, it is necessary to know the startup time of the application. 
                         A startup time which is set too low, will lead to Kubernetes killing the container and a too long startup time will lead to a slow starting container (or rather to a slow responding container,
                          because it will receive no traffic).
                    </span>
                </clr-alert-item>
            </clr-alert>
            <p class="m-0 text-justify"><b>How fast does your application typically start?</b></p>

            <clr-select-container>
                <label>Startup time : </label>
                <select clrSelect [(ngModel)]="container.containerAdvancedOptions.readinessProbe.initialDelaySeconds" name="startupDelay" required #startupDelay="ngModel" [ngClass]="{'is-invalid': probeForm.submitted && startupDelay.invalid}">
                    <option [value]="0">fast (0 seconds)</option>
                    <option [value]="15">medium fast (15 seconds)</option>
                    <option [value]="30">medium (30 seconds)</option>
                    <option [value]="45">medium slow (45 seconds)</option>
                    <option [value]="60">slow (60 seconds)</option>
                    </select>
                
                <clr-control-error>This field is required!</clr-control-error>
            </clr-select-container>


            <clr-alert>
                <clr-alert-item>
                    <span class="alert-text">
                        Shutdown Information : <br>
                        Kubernetes tries to exit applications gracefully, but sometimes this is not possible because the application is stuck in a deadlock for example. In this case Kubernetes just kills the container. 
                        Kubernetes can not determine if the application is stuck in a deadlock or just needs a long time to shutdown. In this case the user should give the container a longer GracePeroid.
                    </span>
                </clr-alert-item>
            </clr-alert>
            <p class="m-0 text-justify"><b>How fast does your application typically need to shutdown?</b></p>

            <clr-select-container>
                <label>Grace Period : </label>
                <select clrSelect [(ngModel)]="container.containerAdvancedOptions.gracePeriod" name="gracePeriod" required #gracePeriod="ngModel" [ngClass]="{'is-invalid': probeForm.submitted && gracePeriod.invalid}">
                    <option [value]="0">fast (0 seconds)</option>
                    <option [value]="15">medium fast (15 seconds)</option>
                    <option [value]="30">medium (30 seconds)</option>
                    <option [value]="45">medium slow (45 seconds)</option>
                    <option [value]="60">slow (60 seconds)</option>
                    </select>
               
                <clr-control-error>This field is required!</clr-control-error>
              </clr-select-container>
        </div>


        
         </form>
    </clr-wizard-page>
</clr-wizard>
