

<div *ngIf="!showResult clr-row">
    <div *ngIf="!err">
        <div class="row mt-2 mb-2">
            <div class="col">
               
            </div>
        </div>
        <h2 class="center"> Pick a template</h2>

        <div *ngIf="showSpinner">
            <mat-spinner [diameter]="50" ></mat-spinner>
        </div>

        
        <div class="container clr-row clr-col-12">
           
            
            <div class="clr-col-3 card clr-offset-sm-1 clickable start" matRipple  *ngFor="let name of templates" (click)=" currentSelected=name;send();" [@enterAnimation]>
                
                <span> <clr-icon shape="details" size="38"></clr-icon> &nbsp; {{name}}</span>
                
            </div>
    
        </div>
       
    </div>

    <div *ngIf="err">
        <div class="row mt-2 mb-2" style="color: red;">
            {{err}}
        </div>
    </div>
</div>
<div *ngIf="showResult">
    <app-result [deployment]="deployment" [request]="request" [description]="description"></app-result>
</div>