
    
<clr-main-container class="main-container" >
    <clr-header class="header-5">
        <div class="branding">
            <a routerLink="/welcome" class="nav-link"><img src="https://seeklogo.com/images/K/kubernetes-logo-3A67038EAB-seeklogo.com.png" width="30" height="30" />&nbsp; &nbsp; <span class="title">Kubernetes Deployment Generator</span>  &nbsp; </a>
    
        </div>
    
      
    
        <div class="header-actions">
            <a href="javascript://" class="nav-link nav-icon-text">
                <clr-icon shape="user" class="is-solid"></clr-icon>
                
            </a>
            <a href="..." class="nav-link nav-icon" aria-label="settings">
                <clr-icon shape="cog" class="is-solid"></clr-icon>
            </a>
            
        </div>
    
    </clr-header>
    <div class="content-container" >


        <clr-vertical-nav class="vertNavBar" >
         
        
            <a routerLink="/welcome" class="navElt"  routerLinkActive="active">
                <span mat-line class="center"><clr-icon shape="home" class="is-solid" size="32"></clr-icon></span>
                <span mat-line class="center">Home</span>
            </a>
            <div class="nav-divider"></div>
            <a mat-list-item  routerLink="/wizard"  class="navElt"  routerLinkActive="active">
                <span mat-line class="center"><clr-icon shape="tools" class="is-solid" size="32"></clr-icon></span>
            <span mat-line class="center">Wizard</span>
            </a>    
            <div class="nav-divider"></div>
            <a mat-list-item  routerLink="/template"  class="navElt" routerLinkActive="active" >
                <span mat-line class="center"><clr-icon shape="file-group" class="is-solid" size="32"></clr-icon></span>
                <span mat-line class="center">Templates</span>
            </a>         
            <div class="nav-divider"></div>
            <a mat-list-item routerLink="/advanced" class="navElt" routerLinkActive="active" >
                <span mat-line class="center"><clr-icon shape="wrench" class="is-solid" size="32"></clr-icon></span>
                <span mat-line class="center">Advanced Mode </span>
                
            </a>       
            
            <a mat-list-item routerLinkActive="active" routerLink="/help" class="navElt" style=" bottom: 0; position:absolute; margin:15px; "  >
                <span mat-line class="center"><clr-icon shape="help" class="is-solid" size="25"></clr-icon></span>
                <span mat-line class="center">Help</span>
                
            </a>
            
        </clr-vertical-nav>

        <!-- <clr-vertical-nav  [clrVerticalNavCollapsible]="true" class="nav-trigger--bottom vertNavBar"  [(clrVerticalNavCollapsed)]="collapsed">
            
            <a clrVerticalNavLink  routerLink="/welcome" class="navElt"  routerLinkActive="active">
                <clr-icon shape="home" class="is-solid" size="50" clrVerticalNavIcon></clr-icon>
                Home
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink   routerLink="/wizard"  class="navElt"  routerLinkActive="active">
                <clr-icon shape="tools" class="is-solid" size="50" clrVerticalNavIcon></clr-icon>
                Wizard
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink   routerLink="/template"  class="navElt" routerLinkActive="active" >
                <clr-icon shape="file-group" class="is-solid" size="50" clrVerticalNavIcon></clr-icon>
                Templates
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink   routerLink="/advanced"  class="navElt" routerLinkActive="active" >
                <clr-icon shape="wrench" class="is-solid" size="50" clrVerticalNavIcon></clr-icon>
                Advanced Mode
            </a>

        </clr-vertical-nav> -->
   
        <div class="content-area" style="background: #e4e4e4; padding-top: 0; ">
            <router-outlet></router-outlet>
        </div>
    </div>
</clr-main-container>
  
