/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }


.title
{
    text-transform: uppercase;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height:0px;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
