<form #databaseForm="ngForm" (ngSubmit)="submitted = true; databaseForm.valid && getNextPage()" [@blockInitialRenderAnimation]>
    <div class="row mb-1">
        <div class="col">
            <a data-toggle="collapse" data-target=".databaseCollapse">
                <div class="card border-dark">
                    <div class="databaseCollapse collapse">
                        <div class="card-header">
                            <i class="fas fa-info-circle my-auto mr-1"></i> Database Information
                        </div>
                    </div>
                    <div class="databaseCollapse collapse show">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto my-auto">
                                    <i class="fas fa-info-circle fa-3x my-auto"></i>
                                </div>
                                <div class="col">
                                    <p class="card-text text-justify">One of your containers need a database to store important data. The wizard supports deploying MYSQL, MARIADB, redis, postgres, mongodb, couchdb with little to no configuration If you want to deploy a database for your
                                        application, choose the image and size below. The supported environment variables can be changed to your likeings.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="m-0"><b>How should your database be called?</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name*</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="database.name" name="dbName" pattern="([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9]" required name="{{database.uniqueName + '-name'}}" #name="ngModel" [ngClass]="{'is-invalid': submitted && name.invalid}">
                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="m-0 text-justify"><b>Which database do you want to deploy?</b> Choose none, if you do not wish to deploy a database within Kubernetes and click continue.</p>
        </div>
    </div>
    <!--Databases-->
    <div class="row mb-2">
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Database</span>
                </div>
                <select class="custom-select" aria-placeholder="Database Image" [(ngModel)]="database.image" name="dbImage" (ngModelChange)="setEnvironmentsForDatabase(database)" required #image="ngModel" [ngClass]="{'is-invalid': submitted && image.invalid}">
                    <option *ngIf="!mainWizardOptions.editDatabase && !mainWizardOptions.addDatabase">NONE</option>
                    <option *ngFor="let dbConfig of databaseConfigurations" [ngValue]="dbConfig.name">{{dbConfig.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="m-0 text-justify"><b>How large should this database be?</b></p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Size*</span>
                </div>
                <input type="number" class="form-control" placeholder="Size" name="dbSize" [(ngModel)]="database.size" min="1" customMin="1" required #size="ngModel" [ngClass]="{'is-invalid': submitted && size.invalid}">
                <div class="invalid-feedback">
                    This field is required and must be a positive number
                </div>
            </div>
        </div>
    </div>

    <!--Environment Variables if exist-->
    <div *ngIf="database.environments.length" [@enterAnimation]>
        <div class="row mb-2">
            <div class="col">
                <p class="m-0 text-justify">The following Environment Variables can be changed to configure the database. <b>The default values are autogenerated and should be changed.</b>
                </p>
            </div>
        </div>
        <div class="row mb-2" *ngFor="let variable of database.environments" [@fastEnterAnimation]>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{variable.name}}</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="variable.value" name="{{variable.uniqueName}}-value" #envVar="ngModel" [ngClass]="{'is-invalid': submitted && envVar.invalid}" required>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Buttons-->
    <div class="form-row mb-2" *ngIf="!mainWizardOptions.editDatabase && !mainWizardOptions.addDatabase">
        <div class="col">
            <button type="button" class="btn btn-danger btn-block" (click)="reset()">Reset Database</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary btn-block" (click)="submitType = 'ADD'; getNextPage()">Add
                another database</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger btn-block" (click)="submitType = 'SKIP'; getNextPage()">Skip
                database and continue</button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary btn-block" (click)="submitType = 'CONTINUE'" *ngIf="database.image !== 'NONE'">Continue</button>
            <button type="submit" class="btn btn-primary btn-block" (click)="submitType = 'CONTINUE'; getNextPage()" *ngIf="database.image === 'NONE'">Continue</button>
        </div>
    </div>
    <div class="row" *ngIf="mainWizardOptions.editDatabase">
        <div class="col">
            <button type="submit" class="btn btn-primary btn-block" (click)="submitType = 'EDIT'">Submit & Show
                Summary</button>
        </div>
    </div>
    <div class="form-row" *ngIf="mainWizardOptions.addDatabase">
        <div class="col">
            <button type="button" class="btn btn-danger btn-block" (click)="submitType = 'ABORT_INSERT'; getNextPage()">Abort</button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary btn-block" (click)="submitType = 'INSERT'">Add</button>
        </div>
    </div>
</form>