<div class="addButton" >
        <button type="button" class="btn btn-primary btn-block" (click)="addService()"> <clr-icon shape="plus-circle" size="20"></clr-icon>&nbsp; Add
            Service</button>
</div>

<div  *ngFor="let service of request.services" class="container"  >

    <div class="clr-row "  *ngVar="getDescriptionForService(service.name) as serviceDescription"> 

        <div class="card clr-col-9">
            <div class="clr-row">
    
                <h1 class="clr-col-11">{{service.name | uppercase}} Service</h1>
    
                <h1 class="clr-col-1"><button class="btn btn-icon  btn-warning" style=" font-size: 20px;"  (click)="deleteService(service)"><clr-icon shape="trash"></clr-icon></button></h1>
            </div>
            <mat-divider></mat-divider>
    
        
            <mat-form-field >
                <mat-label><b>Name</b> </mat-label>
                <input type="text" matInput [(ngModel)]="service.name" placeholder="Name" name="{{service.uniqueName + '-service'}}" #sname="ngModel" [ngClass]="{'is-invalid': submitted && sname.invalid}" pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?" required (ngModelChange)="changeServiceDescription(service.name, serviceDescription)"
                />
                <mat-hint>Service name can not be empty</mat-hint>
            </mat-form-field>        
    
            <mat-form-field >
                <mat-label>Type </mat-label>
                <select matNativeControl [(ngModel)]="service.type" name="{{service.uniqueName + '-type'}}" #stype="ngModel" [ngClass]="{'is-invalid': submitted && stype.invalid}" required (change)="service.typeChanged()">
                    <option>NodePort</option>
                    <option>LoadBalancer</option>
                    <option>Ingress</option>
                </select>
               
                <mat-hint> Service type must be of type NodePort, LoadBalancer or Ingress</mat-hint>
            </mat-form-field>
            
            
            
            <br>

            <div *ngIf="service.type === 'NodePort' || service.type === 'LoadBalancer'"  >
                <h2>Options</h2>
                <mat-divider></mat-divider>
                <mat-form-field >
                    <mat-label>Container </mat-label>
                    <select matNativeControl [(ngModel)]="service.normalServiceOptions.containerName" name="{{service.normalServiceOptions.uniqueName + '-container'}}" #scontainer="ngModel" (change)="getPortsForService(service)" [ngClass]="{'is-invalid': submitted && scontainer.invalid}"
                        required>
                        <option [ngValue]="container.uniqueName" *ngFor="let container of request.containers">
                            {{container.name}} ({{container.uniqueName}})
                        </option>
                     </select>
                    
                   
                    <mat-hint>  Referenced container for service can not be empty</mat-hint>
                </mat-form-field>

                <mat-checkbox color="primary" id="{{service.normalServiceOptions.uniqueName + '-affinity'}}" name="{{service.normalServiceOptions.uniqueName + '-affinity'}}" [(ngModel)]=service.normalServiceOptions.sessionAffinity> Set Session Affinity  </mat-checkbox>
            </div>

            <div *ngIf="service.type === 'Ingress'">
                <h2> Ingress Options</h2>
                <mat-divider></mat-divider>
                <mat-form-field >
                    <mat-label>Ingress Type </mat-label>
                    <select matNativeControl [(ngModel)]="service.ingressOptions.serviceType" name="{{service.ingressOptions.uniqueName + '-type'}}" #sitype="ngModel" [ngClass]="{'is-invalid': submitted && sitype.invalid}" required>
                        <option>NodePort</option>
                        <option>LoadBalancer</option>
                    </select>
                    
                   
                    <mat-hint> Ingress Service Type can not be empty</mat-hint>
                </mat-form-field>

                <mat-checkbox color="primary"  type="checkbox" class="custom-control-input" id="{{service.ingressOptions.uniqueName + '-affinity'}}" name="{{service.ingressOptions.uniqueName + '-affinity'}}" [(ngModel)]=service.ingressOptions.affinity> Set Session Affinity  </mat-checkbox>
            </div>

    
    
        </div>
        <div class="clr-col"  *ngIf="service.type === 'NodePort' || service.type === 'LoadBalancer'" >
       
                <div class="clr-row">
                    <div class=" clr-col card clickable disabled btnCard" matRipple  (click)="getPortsForService(service)">
              
                        <div class="button" style=" border: 2px; "> 
    
                            <div class="icon clr-row" >
                            <clr-icon shape="sync" size="50"  style=" align-items: center;  "></clr-icon>
                        </div>
                        
                        <div class="text clr-row" >
                            Reset to Container Ports
                        </div>
                        
                        </div>

                    </div>
                </div>

                <div class="clr-row">
                    <div class="clr-col card clickable btnCard"  matRipple (click)="service.normalServiceOptions.addPort()" >
    
                        <div class="button" style=" border: 2px; "> 

                            <div class="icon clr-row">
                               <clr-icon  matBadge="{{service.normalServiceOptions.ports.length}}" [matBadgeHidden]="service.normalServiceOptions.ports.length==0" shape="disconnect" size="50"  style=" align-items: center;  "></clr-icon>
                            </div>
                        
                            <div class="text clr-row">
                                Add Port
                            </div>
        
                        </div>
                    </div>
                </div>
        </div>
        <div class="clr-col"  *ngIf="service.type === 'Ingress'"  >
       
            <div class="clr-row">
                <div class=" clr-col card clickable disabled btnCard" matRipple (click)="service.ingressOptions.addHttpOption()" >
          
                    <div class="button" style=" border: 2px; "> 

                        <div class="icon clr-row" >
                        <clr-icon matBadge="{{service.ingressOptions.httpOptions.length}}" [matBadgeHidden]="service.ingressOptions.httpOptions.length==0" shape="network-globe" size="50"  style=" align-items: center;  "></clr-icon>
                    </div>
                    
                    <div class="text clr-row" >
                        Add HTTP
                        Option
                    </div>
                    
                    </div>

                </div>
            </div>

            <div class="clr-row">
                <div class="clr-col card clickable btnCard" matRipple  (click)="service.ingressOptions.addIngressContainer()" >

                    <div class="button" style=" border: 2px; "> 

                        <div class="icon clr-row">
                           <clr-icon  matBadge="{{service.ingressOptions.tcpUdpOptions.length}}" [matBadgeHidden]="service.ingressOptions.tcpUdpOptions.length==0" shape="container-volume" size="50"  style=" align-items: center;  "></clr-icon>
                        </div>
                    
                        <div class="text clr-row">
                            Add Tcp Container
                        </div>
    
                    </div>
                </div>
            </div>
        </div>

        <div class="clr-row clr-col-12"  *ngIf="service.type === 'NodePort' || service.type === 'LoadBalancer'" >
            <div  *ngFor="let port of service.normalServiceOptions.ports" class="card  clr-col-12" >
                <div class="clr-row">
                    <h2 class="clr-col-11">PORTS</h2>
                    <div class="clr-col-1">  
                        <button type="button" class="btn btn-icon  btn-warning" (click)="service.normalServiceOptions.deletePort(port)"><clr-icon shape="trash"></clr-icon></button>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <mat-form-field >
                    <mat-label >
                        <span *ngVar="getObjectFromDescription(containerDescription?.port, port.name) as portDescription" class="input-group-text"><i class="fas fa-info-circle mr-1"
                                *ngIf="portDescription" [autoClose]="'outside'"
                                ngbPopover="{{portDescription.description}}"></i><b>Name</b></span></mat-label>
                    <input type="text" matInput [(ngModel)]="port.name" name="{{port.uniqueName + '-name'}}" #pname="ngModel" [ngClass]="{'is-invalid': submitted && pname.invalid}" pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?" placeholder="Name" nullValue />
                    <mat-hint> Port name must follow the pattern: [a-z0-9]([-a-z0-9]*[a-z0-9])? and should be set when more than two ports are used</mat-hint>
                    
                </mat-form-field>

                <mat-form-field >
                    <mat-label ><b>Port</b></mat-label>
                    <input type="number" matInput [(ngModel)]="port.port" name="{{port.uniqueName + '-port'}}" #pport="ngModel" placeholder="1-65535" min="1" max="65535" [ngClass]="{'is-invalid': submitted && pport.invalid}" required customMin="1" customMax="65535"
                    />
                    <mat-hint>   Port number must be a number between 1 and 65535</mat-hint>
                    
                </mat-form-field>

                <mat-form-field >
                    <mat-label ><b>TargetPort</b></mat-label>
                    <input type="number" matInput [(ngModel)]="port.targetPort" name="{{port.uniqueName + '-targetPort'}}" #tPortvalue="ngModel" placeholder="Defaults to: port" min="1" max="65535" [ngClass]="{'is-invalid': submitted && tPortvalue.invalid}" customMin="1"
                    customMax="65535" />
                    <mat-hint>   Port number must be a number between 1 and 65535</mat-hint>
                    
                </mat-form-field>

            

                <mat-form-field>
                    <mat-label><b>Protocol</b></mat-label>
                    <select matNativeControl [(ngModel)]="port.protocol" name="{{port.uniqueName + '-protocol'}}" #pprot="ngModel" [ngClass]="{'is-invalid': submitted && portproto.invalid}" required>
                        <option>TCP</option>
                        <option>UDP</option>
                    </select>
                  </mat-form-field>

            </div>
        </div>
        <div class="clr-row clr-col-12" *ngIf="service.type === 'Ingress'">

            <div  class="card  clr-col-12" *ngFor="let ingContainer of service.ingressOptions.tcpUdpOptions">
                <div class="clr-row">
                    <h2 class="clr-col-11">TCP Container</h2>
                    <div class="clr-col-1">  
                        <button type="button" class="btn btn-icon  btn-warning" (click)="service.ingressOptions.deleteIngressContainer(ingContainer)"><clr-icon shape="trash"></clr-icon></button>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <mat-form-field>
                    <mat-label><b>Container</b></mat-label>
                    <select matNativeControl name="{{ingContainer.uniqueName + '-containerName'}}" [(ngModel)]="ingContainer.containerName" #iCname="ngModel" [ngClass]="{'is-invalid': submitted && iCname.invalid}" required>
                        <option *ngFor="let container of request.containers"
                            [ngValue]="container.uniqueName">
                            {{container.name}} ({{container.uniqueName}})</option>
                    </select>
                    <mat-hint>Referenced container for service can not be empty</mat-hint>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label><b>Port</b></mat-label>
                    <select matNativeControl name="{{ingContainer.uniqueName + '-port'}}" [(ngModel)]="ingContainer.port" required #iCport="ngModel" [ngClass]="{'is-invalid': submitted && iCport.invalid}">
                        <option *ngFor="let port of getPortsForContainer(ingContainer.containerName)"
                            [ngValue]="port">{{port.port}}<span
                                *ngIf="port.name">-{{port.name}}</span>-{{port.protocol}}</option>
                    </select>
                    <mat-hint>Port can not be empty</mat-hint>
                  </mat-form-field>
            </div>
            <div class="card clr-col-12" *ngFor="let httpOption of service.ingressOptions.httpOptions" >
                <div class="clr-row">
                    <h2 class="clr-col-11">Http Path</h2>
                    <div class="clr-col-1">  
                        <button type="button" class="btn btn-icon  btn-warning" (click)="service.ingressOptions.deleteHttpOption(httpOption)"><clr-icon shape="trash"></clr-icon></button>
                    </div>
                </div>

                <div class="clr-row">

                  
                 

                  
                   
                    <div class="clr-col-9 " *ngFor="let httpPath of httpOption.paths">


                        
                        <button type="button" class="btn btn-primary" (click)="httpOption.pathManipulation($event, httpPath)"><i class="fas fa-plus"
                            title="Add Rule"></i></button>
                        <mat-form-field class="clr-col">
                            <mat-label ><b>Container</b></mat-label>
                            <select matNativeControl name="{{httpPath.uniqueName + '-container'}}" [(ngModel)]="httpPath.container" #hpcon="ngModel" [ngClass]="{'is-invalid': submitted && hpcon.invalid}" required>
                                <option *ngFor="let container of request.containers"
                                    [ngValue]="container.uniqueName">{{container.name}}
                                    ({{container.uniqueName}})
                                </option>
                            </select>
                            <mat-hint>Referenced Container can not be empty</mat-hint>
                            
                        </mat-form-field>
    
                        <mat-form-field class="clr-col">
                            <mat-label ><b>Subpath</b></mat-label>
                            <input type="text" matInput name="{{httpPath.uniqueName + '-path'}}" [(ngModel)]="httpPath.path" placeholder="Optional: Subpath">                                                
                        </mat-form-field>
    
                        <mat-form-field class="clr-col" >
                            <mat-label ><b>Port</b></mat-label>
                            <select matNativeControl name="{{httpPath.uniqueName + '-port'}}" [(ngModel)]="httpPath.port" #hpport="ngModel" [ngClass]="{'is-invalid': submitted && hpport.invalid}" required>
                                <option *ngFor="let port of getPortsForContainer(httpPath.container)"
                                    [ngValue]="port.port">{{port.port}} ({{port.name}})
                                </option>
                            </select>
                            <mat-hint>Referenced Service can not be empty</mat-hint>
                            
                        </mat-form-field>
    
                    </div>
                    <div class="clr-col-2" style="display: flex; align-self: start; align-content: flex-start; justify-content: flex-start;">
                        <mat-form-field  >
                            <mat-label ><b>Host</b></mat-label>
                            <input type="text" matInput placeholder="Host Address" name="{{httpOption.uniqueName}} + '-host'" [(ngModel)]="httpOption.host" required #hohost="ngModel" [ngClass]="{'is-invalid': submitted && hohost.invalid}">
                            <mat-hint>  Host Address can not be empty</mat-hint>
                            
                        </mat-form-field>

                    </div>
                    
                </div>
               
           
              
            </div>

        </div>
    </div>
</div>

