<div class="welcomeImage">
        <img class="img" src="../../assets/images/welcomeImage.png" alt="Smiley face" height="800" width="600" >
</div>

<div class="welcome">
        This deployment generator tries to simplify the process of deploying multiple containers within a microservice architecture. Either in a guided mode or a more advanced mode. It also provides templates for some popular applications, which can be directly
        deployed within Kubernetes.
        
 </div>
 <div class="welcomeButton">
        <button   class="btn btn-primary" [routerLink]="['/wizard']">Get Started</button>
 </div>