<div class="addButton">
 
        <button type="button" class="btn btn-primary btn-block" (click)="addDatabase()"> <clr-icon shape="plus-circle" size="20"></clr-icon>&nbsp;   Add
            Database</button>
   
</div>


<div class="clr-row container" *ngFor="let database of request.databases">

    <div class="card clr-col">
        <div class="clr-row">


            <h1 class="clr-col-11">{{database.name}} Database</h1>

            <h1 class="clr-col-1"><button class="btn btn-icon  btn-warning" style=" font-size: 20px;"  (click)="deleteDatabase(database)"><clr-icon shape="trash"></clr-icon></button></h1>
        </div>
        <mat-divider></mat-divider>

        <small class="my-auto clr-col-12">ID: {{database.uniqueName}}</small><br>
        <mat-form-field >
            <mat-label><b>Name</b> </mat-label>
            <input type="text" matInput pattern="([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9]" [(ngModel)]="database.name" name="{{database.uniqueName + '-name'}}" #dbname="ngModel" [ngClass]="{'is-invalid': submitted && dbname.invalid}" required>
            <mat-hint>Database name can not be empty</mat-hint>
        </mat-form-field>



        <mat-form-field >
            <mat-label>Image </mat-label>
            <select matNativeControl [(ngModel)]="database.image" name="{{database.uniqueName + '-image'}}" #dbimage="ngModel" (ngModelChange)="setEnvironmentsForDatabase(database)" [ngClass]="{'is-invalid': submitted && dbimage.invalid}" required>
                <option *ngFor="let dbconfig of availableDatabases" [ngValue]="dbconfig.name">{{dbconfig.name}}</option>
            </select>
            <mat-hint>Database image can not be empty</mat-hint>


        </mat-form-field>



        <mat-form-field  >
            <mat-label>Size</mat-label>
            <input type="number" matInput [(ngModel)]="database.size" placeholder="Size in Mb" name="{{database.uniqueName + '-size'}}" #dbsize="ngModel" [ngClass]="{'is-invalid': submitted && dbsize.invalid}" required min="1" customMin="1" />
            <mat-hint>Database size must be a number higher than 1</mat-hint>


        </mat-form-field>

        <mat-checkbox color="primary" id="{{database.uniqueName + '-expose'}}" name="{{database.uniqueName + '-expose'}}" [(ngModel)]=database.expose> Expose Database externally   </mat-checkbox>

        <div *ngIf="database.expose">

            <mat-form-field >
                <mat-label>Service Type </mat-label>
                <select matNativeControl [(ngModel)]="database.type" name="{{database.uniqueName + '-type'}}" #dbptype="ngModel" [ngClass]="{'is-invalid': submitted && dbptype.invalid}" required>
                    <option>LoadBalancer</option>
                    <option>NodePort</option>
                </select>
                <mat-hint>Database image can not be empty</mat-hint>


            </mat-form-field>
        </div>


    </div>
    
    <div class="clr-col card" >

        <div class="clr-row">
            <h2 class="clr-col-11">Environment Variables</h2>
            <div class="clr-col-1">

            </div>
        </div>
        <mat-divider></mat-divider>

        <div *ngFor="let variable of database.environments">
   
            <mat-form-field >
                <mat-label>{{variable.name}}</mat-label>
                <input type="text" matInput [(ngModel)]="variable.value" placeholder="Set or leave empty" name="{{database.uniqueName + '-' + variable.name}}" />
            </mat-form-field>

        </div>

        <div *ngIf="!database.environments.length" class="clickable">

            <br><br><br><br>
            <p class="icon center"> <clr-icon shape="import" size="70" ></clr-icon></p>

           <p class="text center">Environment variables will be automatically displayed here after choosing the image</p>

        </div>


    </div>

</div>







<!-- <div class="row p-2 border border-dark mb-2" *ngFor="let database of request.databases" [@enterAnimation]>
    <div class="col">
        <div class="row mb-2">
            <div class="col-9">
                <div class="row">
                    <div class="col-6 my-auto">
                        <h2 class="font-weight-bold text-truncate my-auto">{{database.name}} Database</h2>
                    </div>
                    <div class="col-6 my-auto text-muted">
                        <small class="my-auto">ID: {{database.uniqueName}}</small>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <button type="button" (click)="deleteDatabase(database)" class="btn btn-danger float-right"><i
                        class="fas fa-trash-alt"></i> Delete
                    Database</button>
            </div>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Name*</span>
            </div>
            <input type="text" class="form-control" pattern="([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9]" [(ngModel)]="database.name" name="{{database.uniqueName + '-name'}}" #dbname="ngModel" [ngClass]="{'is-invalid': submitted && dbname.invalid}" required>
            <div class="invalid-feedback">
                Database name can not be empty
            </div>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Image*</span>
            </div>
            <select class="custom-select" [(ngModel)]="database.image" name="{{database.uniqueName + '-image'}}" #dbimage="ngModel" (ngModelChange)="setEnvironmentsForDatabase(database)" [ngClass]="{'is-invalid': submitted && dbimage.invalid}" required>
                <option *ngFor="let dbconfig of availableDatabases" [ngValue]="dbconfig.name">{{dbconfig.name}}</option>
            </select>
            <div class="invalid-feedback">
                Database image can not be empty
            </div>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Size*</span>
            </div>
            <input type="number" class="form-control" [(ngModel)]="database.size" placeholder="Size in Mb" name="{{database.uniqueName + '-size'}}" #dbsize="ngModel" [ngClass]="{'is-invalid': submitted && dbsize.invalid}" required min="1" customMin="1" />
            <div class="invalid-feedback">
                Database size must be a number higher than 1
            </div>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="{{database.uniqueName + '-expose'}}" name="{{database.uniqueName + '-expose'}}" [(ngModel)]=database.expose>
            <label class="custom-control-label" for="{{database.uniqueName + '-expose'}}">Expose Database
                externally</label>
        </div>
        <div *ngIf="database.expose" [@enterAnimation]>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Service Type*</span>
                </div>
                <select class="custom-select" [(ngModel)]="database.type" name="{{database.uniqueName + '-type'}}" #dbptype="ngModel" [ngClass]="{'is-invalid': submitted && dbptype.invalid}" required>
                    <option>LoadBalancer</option>
                    <option>NodePort</option>
                </select>
                <div class="invalid-feedback">
                    Database service type must be LoadBalancer or NodePort
                </div>
            </div>
        </div>
        <div *ngIf="database.environments.length" [@enterAnimation]>
            <div class="row mb-2">
                <div class="col my-auto">
                    <h3 class="my-auto">Environment Variables</h3>
                </div>
            </div>
            <div class="input-group mb-2" *ngFor="let variable of database.environments" [@enterAnimation]>
                <div class="input-group-prepend">
                    <span class="input-group-text">{{variable.name}}</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="variable.value" placeholder="Set or leave empty" name="{{database.uniqueName + '-' + variable.name}}" />
            </div>
        </div>
    </div>
</div> -->